#challenges {
  position: relative;
  max-block-size: 100%;
}

#challenge {
  position: sticky;
  top: 0;
  z-index: 12;
  background: var(--cOnPrimary);
  margin-block: 0;
  padding-block: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 0.25em;
  padding-inline: 0.5rem 1rem;
}

.btn.btn-primary.sm {
  width: 36px;
  min-height: 36px;
  margin-block-end: -2px;
  margin-inline-end: 5px;
}

.btn.btn-primary.sm,
.challenge-table table:not(.provider) button.btn.btn-primary.sm {
  background-repeat: no-repeat !important;
  background-size: 30px !important;
  background-position: center !important;
}

#challenge > button[type="submit"] {
  order: -2;
}

#challenge::before {
  content: "";
  block-size: 1em;
  inline-size: auto;
  flex: 1 0 0%;
  background: transparent;
  order: -1;
}

#challenge > * {
  margin: 0;
  align-self: stretch;
}

#challenge button:focus,
.challenge-table button:focus {
  background-color: var(--cPrimary) !important;
  color: var(--cOnPrimary);
}

#challenge button:hover,
.challenge-table button:hover {
  box-shadow: 0 0 0 1px var(--cPrimary);
}

#challenge .table {
  background-image: url("../img/table.svg") !important;
}

#challenge .save {
  background-image: url("../img/save.svg") !important;
}

#challenge .open {
  background-image: url("../img/open.svg") !important;
  display: none;
}

#challenge .delete {
  background-image: url("/img/delete.svg") !important;
}

#challenge .table:focus {
  background-image: url("../img/table-focus.svg") !important;
}

#challenge .save:focus {
  background-image: url("../img/save-focus.svg") !important;
}

#challenge .open:focus {
  background-image: url("../img/open-focus.svg") !important;
}

#challenge .delete:focus {
  background-image: url("/img/delete-focus.svg") !important;
}

.challenge-table .container-fluid {
  display: none;
}

div.challenge-table {
  position: fixed;
  inset-inline-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 5;
  background-color: var(--cOnPrimary);
  overflow-x: auto;
  overflow-y: hidden;
}

.challenge-table table:not(.provider) thead,
.challenge-table table:not(.provider) tbody {
  display: block;
  overflow: hidden;
}

.challenge-table table:not(.provider) tbody {
  overflow-y: auto;
  overflow-x: hidden;
}

.challenge-table table:not(.provider) th,
.challenge-table table:not(.provider) td {
  padding: 0.5em;
}

.challenge-table .name,
.challenge-table .streetaddress {
  min-width: 150px;
  max-width: 150px;
}

.challenge-table .city,
.challenge-table .county {
  min-width: 100px;
  max-width: 100px;
}

.challenge-table .zipcode {
  min-width: 60px;
  max-width: 60px;
}

.challenge-table .OBJECTID,
.challenge-table .locationid {
  min-width: 105px;
  max-width: 105px;
}

.challenge-table .type {
  min-width: 100px;
  max-width: 100px;
}

.challenge-table .apptype {
  min-width: 100px;
  max-width: 100px;
}

.challenge-table .speedtestup {
  min-width: 80px;
  max-width: 80px;
}

.challenge-table .multunit {
  min-width: 60px;
  max-width: 60px;
}

.challenge-table .lid,
.challenge-table .zip,
.challenge-table .speedtestup,
.challenge-table .speedtestdown {
  text-align: end;
}

.challenge-table .speedtestdown {
  min-width: 90px;
  max-width: 90px;
}

.challenge-table .service {
  min-width: 105px;
  max-width: 105px;
}

.challenge-table .enforce {
  min-width: 115px;
  max-width: 115px;
}

.challenge-table .fed_fund,
.challenge-table .state_fund {
  min-width: 75px;
  max-width: 75px;
}

.challenge-table table:not(.provider) thead {
  background-color: var(--cSecondary);
}

.challenge-table table:not(.provider) th {
  background-color: var(--cSecondary);
  border: 1px solid var(--borderSubtle);
  block-size: 50px;
  vertical-align: bottom;
}

html:not([lang="en"]) .challenge-table table:not(.provider) th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.challenge-table table:not(.provider) td {
  border: 1px solid var(--borderSubtle);
}

.challenge-table table:not(.provider) td.empty {
  background-color: var(--cEmpty);
  border-inline-start: none;
  border-inline-end: none;
}

.challenge-table table:not(.provider) td.provide {
  border: none;
  border-bottom: 1px solid var(--borderSubtle);
}

.challenge-table table:not(.provider) td.max_up.provide {
  overflow: visible;
  border-inline-start: 1px solid var(--borderSubtle);
}

.challenge-table table:not(.provider) td.max_down.provide {
  border-inline-end: 1px solid var(--borderSubtle);
}

.challenge-table table:not(.provider) tr td:first-of-type {
  background-color: var(--cSecondary);
}

.challenge-table table:not(.provider) tr td:first-child,
.challenge-table table:not(.provider) tr th:first-child {
  min-width: 85px;
  max-width: 85px;
}

.challenge-table table:not(.provider) img {
  inline-size: 30px;
  block-size: 30px;
}

.challenge-table table:not(.provider) img[role=button] {
  inline-size: 26px;
  block-size: 26px;
  margin-inline-start: 5px;
}

.challenge-table table:not(.provider) img[role=button]:hover {
  border: 2px solid var(--cPrimary);
  border-radius: 50%;
}

.challenge-table table:not(.provider) button.providers {
  margin: 5px 0 0 0;
  width: 150px;
}

.challenge-table table:not(.provider) button.btn.btn-primary.back {
  background-image: url("../img/back.svg") !important;
  inline-size: 48px;
  block-size: 48px;
  margin-inline-start: 10px;
  margin-block-end: 10px;
}
