:root {
  --cPrimary: #111a52;
  --cOnPrimary: #fff;
  --cSecondary: #7cc3e9;
  --cEmpty: rgba(124, 195, 233, 0.2);
  --cOnSecondary: #111;
  --popupBg: #fff;
  --popupActiveBg: #bfd8f2;
  --popupBorder: #ccc;
  --popupActiveBorder: var(--cPrimary);
  --borderSubtle: #ddd;
  --tipBg: rgba(124, 195, 233, 0.9);
  --newChallenge: #fff000;
  --legendBg: #f2f2f2;
  --scrollbarBg: rgba(0, 98, 204, 0.25);
  --scrollbarBorder: rgba(0, 98, 204, 0.25);
  --checkFocus: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23111a52' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

body.loading {
  background-image: url("../../img/minnesota/start.webp");
  background-size: 75%;
}

.banner .logoState,
.banner .logoBBLab {
  position: relative;
}

body.loading .logoState img,
body.loading .logoBBLab img,
.banner .logoState > img,
.banner .logoBBLab > img {
  inset: 0px;
  inline-size: 100%;
  block-size: 100%;
  position: absolute !important;
  max-inline-size: 100% !important;
}

.banner .logoState {
  min-block-size: 4rem;
  aspect-ratio: 180/108;
  border-radius: 100%;
}

.banner .logoState img {
  border-radius: 3px;
}

#layers, #nav li:first-of-type {
  display: none;
}